<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create offer</title>
</head>
<body>

<form id="offerForm" th:action="@{/docreate}" method="post" th:object="${offer}">
    <input type="hidden" th:field="*{id}" />
    <table class="formtable">
        <tr>
            <td class="label">Your offer: </td>
            <td>
                <textarea name="text" rows="20" cols="20" id="text" th:field="*{text}"></textarea>
                <br/>
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Incorrect text</p>
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td><input class="control" value="Save advert" type="submit"/></td>
        </tr>
        <tr th:if="${offer.id != 0}">
            <td class="label"></td>
            <td><input class="control" value="Delete advert" type="submit" name="delete"/></td>
        </tr>
    </table>
</form>

</body>
</html>