<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

    <link th:href="@{css/main.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<table class="offerstable">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Text</td>
    </tr>
    <tr th:each="offer : ${offers}">
        <td th:text="${offer.user.username}"></td>
        <td th:text="${offer.user.email}"></td>
        <td th:text="${offer.text}"></td>
    </tr>
</table>

<div th:if="${hasOffer}">
    <a th:href="@{/createoffer}">Edit or delete your offer</a>
</div>
<div th:unless="${hasOffer}">
    <a th:href="@{/createoffer}">Create a new offer</a>
</div>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p><a th:href="@{/logout}">Log out</a></p>
</div>
<div th:if="${not #authorization.expression('isAuthenticated()')}">
    <p><a th:href="@{/login}">Log in</a></p>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <p><a th:href="@{/admin}">For admins only</a></p>
</div>

</body>
</html>